extends userForm

block inContainer
  div.mt-3.text-center
    p Already registered? 
      a(href="/login") Login

block outsideContainer
  // import toast mixin
  include mixins/toast
  // mixin to render error
  +toast(errors)
