* {
  margin: 0;
  padding: 0;
}

form {
  width: 60%;
}

li {
  list-style-type: none;
}

.form-control {
  margin-bottom: 20px;
}

#main {
  height: 85vh;
}

#sub {
  height: 10vh;
  width: 50vw;
}

.toast-container {
  width: 100vw;
}
